@model FaleMais.Models.Values.ResultadoFacade

<hr />

@if (Model.Valido)
{
    <div class="row text-center">
        <div class="col-xs-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Valor com FaleMais
                    </h3>
                </div>
                <div class="panel-body">
                    <h1>@(Model.TarifaNaoEncontrada ? "-" : Model.FaleMaisValor.ToString("c"))</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        Valor sem FaleMais
                    </h3>
                </div>
                <div class="panel-body">
                    <h1>@(Model.TarifaNaoEncontrada ? "-" : Model.TarifaComumValor.ToString("c"))</h1>
                </div>
            </div>

        </div>
    </div>
}
else
{
    foreach (var erro in Model.Erros){
        <div class="alert alert-warning">@erro.ErrorMessage</div>
    }
}
