@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h1>Ooops... algo deu errado! =(</h1>
  <p>Algum erro aconteceu durante sua operação. Por favor, tente novamente ou entre em contato com nossa equipe de suporte.</p>
  <p><a class="btn btn-primary btn-lg" role="button" onclick="javascript:window.history.back()">Voltar »</a></p>
</div>
