@{
    ViewBag.Title = "Erro 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h1>Ooops... página não encontrada! =(</h1>
  <p>Não foi possível acessar o endereço desejado. Por favor, tente novamente ou entre em contato com nossa equite de suporte.</p>
  <p><a class="btn btn-primary btn-lg" role="button" onclick="javascript:window.history.back()">Voltar »</a></p>
</div>
