@{
    ViewBag.Title = "FaleMais";
}

<div class="jumbotron text-center">
    <h1>FaleMais</h1>
    <p class="lead">Com o FaleMais você fala de graça com outras cidades pagamento muito menos. Uma ótima forma de manter o contato com pessoas distantes sem sofrer no bolso.</p>

    <a href="@Url.Action("index", "tarifa")" class="btn btn-lg btn-success">Calcule a economia</a>
</div>

<hr />

<div class="row">
    <div class="col-xs-4">
        <h2>
            <span class="glyphicon glyphicon-hand-right"></span>
            FaleMais 30</h2>
        <p>Fale até 30 minutos de graça com qualquer DDD, e pague apenas o excedente.</p>
        <p>
            <a href="@Url.Action("index", "tarifa")" class="btn btn-warning">Calcule as tarifas »</a>
        </p>
    </div>

    <div class="col-xs-4">
        <h2>
            <span class="glyphicon glyphicon-hand-right"></span>
            FaleMais 60</h2>
        <p>Fale até 60 minutos de graça com qualquer DDD, e pague apenas o excedente.</p>
        <p>
            <a href="@Url.Action("index", "tarifa")" class="btn btn-warning">Calcule as tarifas »</a>
        </p>
    </div>

    <div class="col-xs-4">
        <h2>
            <span class="glyphicon glyphicon-hand-right"></span>
            FaleMais 120</h2>
        <p>Fale até 120 minutos de graça com qualquer DDD, e pague apenas o excedente.</p>
        <p>
            <a href="@Url.Action("index", "tarifa")" class="btn btn-warning">Calcule as tarifas »</a>
        </p>
    </div>
</div>

<hr />
